<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, cum. Suscipit sunt molestias architecto facere. At ratione accusamus voluptatibus. Numquam qui molestiae in molestias odit ex tempore eveniet. Neque, praesentium.
    lorem 50
    <link rel="stylesheet" href="style.css">
</body>
</html>